<% unless basket.line_items.empty? %>
<div class="basket_title">
  <h2>Your Basket</h2>
</div>
<table>
  <%= render(basket.line_items) %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(basket.total_price) %></td>
  </tr>
</table>

<%= button_to 'Empty basket', @basket, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>